In [142]:
import pandas as pd
customer = pd.DataFrame({'customer_id':['B001','B002', 'B003', 'B004','B005', 'B006','B007','B008','B009', 'B010'], 'customer_name ': ['Helen Micheal', 'Feranmi Ojo','Busola Temi','Philip John','Temi Daniels',
'Christiana Adekola', 'Fetinola Micheal','Ndifreke Dorcas','Sotunbo Eniola','Tiaraoluwa Ojo'],'customer_address': ['20 Ajayi Street', '4 Isaac John', '10 Philip road','2 Abule Ijesha', '3 Yaba bustop','45 Tolani road',
'1 Iwaya Busstop', '23 Unilag road', '2 Akinsoji street', '3 Folaogoro road'], 'customer_phone_number': ['81046583982','81046583982','81046583982','81046583982','81046583982','81046583982','81046583982',
'81046583982','81046583982','81046583982']})
customer.head()

  customer_id customer_name  customer_address customer_phone_number
0        B001  Helen Micheal  20 Ajayi Street           81046583982
1        B002    Feranmi Ojo     4 Isaac John           81046583982
2        B003    Busola Temi   10 Philip road           81046583982
3        B004    Philip John   2 Abule Ijesha           81046583982
4        B005   Temi Daniels    3 Yaba bustop           81046583982

In [143]:
product =  pd.DataFrame({'product_id': ['CY81', 'CY82','CY83','CY84','CY85','CY86','CY87','CY88','CY89','CY90','CY91','CY92','CY93','CY94','CY95'], 'product_description': ['Shampoo','Sponge','Biscuit','Chocolate',
'Bread', 'Beard Oil', 'Butter', 'Chew gum','Soap','Bobo','Viju milk', 'Morning fresh', 'Viva Detergent', 'Key holder','Biro'], 'product_price': ['1500','1300','950','300', '200', '3000', '6700',
'300', '200', '400', '250', '750', '250', '100', '100']})
product.head()

  product_id product_description product_price
0       CY81             Shampoo          1500
1       CY82              Sponge          1300
2       CY83             Biscuit           950
3       CY84           Chocolate           300
4       CY85               Bread           200

In [144]:
order = pd.DataFrame({'order_id': ['001','002','003','004','005','006','007','008','009', '010', '011','012', '013', '014','015','016','017', '018', '019', '020'], 
'customer_id':['B001','B002', 'B003', 'B004','B005', 'B002', 'B003', 'B009', 'B010', 'B004','B005', 'B006','B007','B008', 'B007','B003', 'B004','B010', 'B004','B001'],
'product_id': ['CY81', 'CY82','CY83','CY84','CY85','CY86','CY87','CY88','CY89','CY82','CY83','CY84','CY90','CY91','CY92','CY93','CY94','CY95','CY91','CY92'],
'quantity': [2, 3, 4, 1, 2, 5, 7, 9, 4, 3, 6, 5, 17, 9, 9, 4, 12, 8, 9, 2]})
order.head()

  order_id customer_id product_id  quantity
0      001        B001       CY81         2
1      002        B002       CY82         3
2      003        B003       CY83         4
3      004        B004       CY84         1
4      005        B005       CY85         2

In [145]:
left = order.set_index(['product_id'])
right= product.set_index(['product_id'])

order_and_table = left.join(right)

In [146]:
first = order_and_table.set_index(['customer_id'])
second = customer.set_index(['customer_id'])
first.join(second)

,order_id,quantity,product_description,product_price,customer_name,customer_address,customer_phone_number
customer_id,,,,,,,
B001,001,2,Shampoo,1500,Helen Micheal,20 Ajayi Street,81046583982
B001,020,2,Morning fresh,750,Helen Micheal,20 Ajayi Street,81046583982
B002,002,3,Sponge,1300,Feranmi Ojo,4 Isaac John,81046583982
B002,006,5,Beard Oil,3000,Feranmi Ojo,4 Isaac John,81046583982
B003,003,4,Biscuit,950,Busola Temi,10 Philip road,81046583982
B003,007,7,Butter,6700,Busola Temi,10 Philip road,81046583982
B003,016,4,Viva Detergent,250,Busola Temi,10 Philip road,81046583982
B004,010,3,Sponge,1300,Philip John,2 Abule Ijesha,81046583982
B004,004,1,Chocolate,300,Philip John,2 Abule Ijesha,81046583982
B004,019,9,Viju milk,250,Philip John,2 Abule Ijesha,81046583982
B004,017,12,Key holder,100,Philip John,2 Abule Ijesha,81046583982
B005,011,6,Biscuit,950,Temi Daniels,3 Yaba bustop,81046583982
B005,005,2,Bread,200,Temi Daniels,3 Yaba bustop,81046583982
B006,012,5,Chocolate,300,Christiana Adekola,45 Tolani road,81046583982
B007,013,17,Bobo,400,Fetinola Micheal,1 Iwaya Busstop,81046583982
B007,015,9,Morning fresh,750,Fetinola Micheal,1 Iwaya Busstop,81046583982
B008,014,9,Viju milk,250,Ndifreke Dorcas,23 Unilag road,81046583982
B009,008,9,Chew gum,300,Sotunbo Eniola,2 Akinsoji street,81046583982
B010,009,4,Soap,200,Tiaraoluwa Ojo,3 Folaogoro road,81046583982
B010,018,8,Biro,100,Tiaraoluwa Ojo,3 Folaogoro road,81046583982

After joining the 3 tables together, I observed the following
1. The table got sorted automatically
2. Although there was no product ID column the systemautomatically mpped each orders to the respective customer details
3. Each orders were sorted according to the index column

In [147]:
pd.merge(customer, order, how="inner", on=["customer_id"])

,customer_id,customer_name,customer_address,customer_phone_number,order_id,product_id,quantity
0,B001,Helen Micheal,20 Ajayi Street,81046583982,001,CY81,2
1,B001,Helen Micheal,20 Ajayi Street,81046583982,020,CY92,2
2,B002,Feranmi Ojo,4 Isaac John,81046583982,002,CY82,3
3,B002,Feranmi Ojo,4 Isaac John,81046583982,006,CY86,5
4,B003,Busola Temi,10 Philip road,81046583982,003,CY83,4
5,B003,Busola Temi,10 Philip road,81046583982,007,CY87,7
6,B003,Busola Temi,10 Philip road,81046583982,016,CY93,4
7,B004,Philip John,2 Abule Ijesha,81046583982,004,CY84,1
8,B004,Philip John,2 Abule Ijesha,81046583982,010,CY82,3
9,B004,Philip John,2 Abule Ijesha,81046583982,017,CY94,12
10,B004,Philip John,2 Abule Ijesha,81046583982,019,CY91,9
11,B005,Temi Daniels,3 Yaba bustop,81046583982,005,CY85,2
12,B005,Temi Daniels,3 Yaba bustop,81046583982,011,CY83,6
13,B006,Christiana Adekola,45 Tolani road,81046583982,012,CY84,5
14,B007,Fetinola Micheal,1 Iwaya Busstop,81046583982,013,CY90,17
15,B007,Fetinola Micheal,1 Iwaya Busstop,81046583982,015,CY92,9
16,B008,Ndifreke Dorcas,23 Unilag road,81046583982,014,CY91,9
17,B009,Sotunbo Eniola,2 Akinsoji street,81046583982,008,CY88,9
18,B010,Tiaraoluwa Ojo,3 Folaogoro road,81046583982,009,CY89,4
19,B010,Tiaraoluwa Ojo,3 Folaogoro road,81046583982,018,CY95,8

Using the inner merge the both tables were merged together an sorted according to the customer ID. Using the intersection of bothh frames.

In [148]:
pd.merge(customer, product, how="outer", left_on='customer_id', right_on='product_id')

,customer_id,customer_name,customer_address,customer_phone_number,product_id,product_description,product_price
0,B001,Helen Micheal,20 Ajayi Street,81046583982,NaN,NaN,NaN
1,B002,Feranmi Ojo,4 Isaac John,81046583982,NaN,NaN,NaN
2,B003,Busola Temi,10 Philip road,81046583982,NaN,NaN,NaN
3,B004,Philip John,2 Abule Ijesha,81046583982,NaN,NaN,NaN
4,B005,Temi Daniels,3 Yaba bustop,81046583982,NaN,NaN,NaN
5,B006,Christiana Adekola,45 Tolani road,81046583982,NaN,NaN,NaN
6,B007,Fetinola Micheal,1 Iwaya Busstop,81046583982,NaN,NaN,NaN
7,B008,Ndifreke Dorcas,23 Unilag road,81046583982,NaN,NaN,NaN
8,B009,Sotunbo Eniola,2 Akinsoji street,81046583982,NaN,NaN,NaN
9,B010,Tiaraoluwa Ojo,3 Folaogoro road,81046583982,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,CY81,Shampoo,1500
11,NaN,NaN,NaN,NaN,CY82,Sponge,1300
12,NaN,NaN,NaN,NaN,CY83,Biscuit,950
13,NaN,NaN,NaN,NaN,CY84,Chocolate,300
14,NaN,NaN,NaN,NaN,CY85,Bread,200
15,NaN,NaN,NaN,NaN,CY86,Beard Oil,3000
16,NaN,NaN,NaN,NaN,CY87,Butter,6700
17,NaN,NaN,NaN,NaN,CY88,Chew gum,300
18,NaN,NaN,NaN,NaN,CY89,Soap,200
19,NaN,NaN,NaN,NaN,CY90,Bobo,400
20,NaN,NaN,NaN,NaN,CY91,Viju milk,250
21,NaN,NaN,NaN,NaN,CY92,Morning fresh,750
22,NaN,NaN,NaN,NaN,CY93,Viva Detergent,250
23,NaN,NaN,NaN,NaN,CY94,Key holder,100
24,NaN,NaN,NaN,NaN,CY95,Biro,100

The both table have nothing in commonto join on

In [149]:
pd.merge(customer, order, how="left", on=["customer_id"])

,customer_id,customer_name,customer_address,customer_phone_number,order_id,product_id,quantity
0,B001,Helen Micheal,20 Ajayi Street,81046583982,001,CY81,2
1,B001,Helen Micheal,20 Ajayi Street,81046583982,020,CY92,2
2,B002,Feranmi Ojo,4 Isaac John,81046583982,002,CY82,3
3,B002,Feranmi Ojo,4 Isaac John,81046583982,006,CY86,5
4,B003,Busola Temi,10 Philip road,81046583982,003,CY83,4
5,B003,Busola Temi,10 Philip road,81046583982,007,CY87,7
6,B003,Busola Temi,10 Philip road,81046583982,016,CY93,4
7,B004,Philip John,2 Abule Ijesha,81046583982,004,CY84,1
8,B004,Philip John,2 Abule Ijesha,81046583982,010,CY82,3
9,B004,Philip John,2 Abule Ijesha,81046583982,017,CY94,12
10,B004,Philip John,2 Abule Ijesha,81046583982,019,CY91,9
11,B005,Temi Daniels,3 Yaba bustop,81046583982,005,CY85,2
12,B005,Temi Daniels,3 Yaba bustop,81046583982,011,CY83,6
13,B006,Christiana Adekola,45 Tolani road,81046583982,012,CY84,5
14,B007,Fetinola Micheal,1 Iwaya Busstop,81046583982,013,CY90,17
15,B007,Fetinola Micheal,1 Iwaya Busstop,81046583982,015,CY92,9
16,B008,Ndifreke Dorcas,23 Unilag road,81046583982,014,CY91,9
17,B009,Sotunbo Eniola,2 Akinsoji street,81046583982,008,CY88,9
18,B010,Tiaraoluwa Ojo,3 Folaogoro road,81046583982,009,CY89,4
19,B010,Tiaraoluwa Ojo,3 Folaogoro road,81046583982,018,CY95,8

This operation merged the both frame usingkeys from the left frames to intersect.

In [150]:
pd.merge(customer, product, how="right")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

This frames has nothing in common

In [151]:
pd.concat([customer, order, product])

,customer_id,customer_name,customer_address,customer_phone_number,order_id,product_id,quantity,product_description,product_price
0,B001,Helen Micheal,20 Ajayi Street,81046583982,NaN,NaN,NaN,NaN,NaN
1,B002,Feranmi Ojo,4 Isaac John,81046583982,NaN,NaN,NaN,NaN,NaN
2,B003,Busola Temi,10 Philip road,81046583982,NaN,NaN,NaN,NaN,NaN
3,B004,Philip John,2 Abule Ijesha,81046583982,NaN,NaN,NaN,NaN,NaN
4,B005,Temi Daniels,3 Yaba bustop,81046583982,NaN,NaN,NaN,NaN,NaN
5,B006,Christiana Adekola,45 Tolani road,81046583982,NaN,NaN,NaN,NaN,NaN
6,B007,Fetinola Micheal,1 Iwaya Busstop,81046583982,NaN,NaN,NaN,NaN,NaN
7,B008,Ndifreke Dorcas,23 Unilag road,81046583982,NaN,NaN,NaN,NaN,NaN
8,B009,Sotunbo Eniola,2 Akinsoji street,81046583982,NaN,NaN,NaN,NaN,NaN
9,B010,Tiaraoluwa Ojo,3 Folaogoro road,81046583982,NaN,NaN,NaN,NaN,NaN
0,B001,NaN,NaN,NaN,001,CY81,2.0,NaN,NaN
1,B002,NaN,NaN,NaN,002,CY82,3.0,NaN,NaN
2,B003,NaN,NaN,NaN,003,CY83,4.0,NaN,NaN
3,B004,NaN,NaN,NaN,004,CY84,1.0,NaN,NaN
4,B005,NaN,NaN,NaN,005,CY85,2.0,NaN,NaN
5,B002,NaN,NaN,NaN,006,CY86,5.0,NaN,NaN
6,B003,NaN,NaN,NaN,007,CY87,7.0,NaN,NaN
7,B009,NaN,NaN,NaN,008,CY88,9.0,NaN,NaN
8,B010,NaN,NaN,NaN,009,CY89,4.0,NaN,NaN
9,B004,NaN,NaN,NaN,010,CY82,3.0,NaN,NaN
10,B005,NaN,NaN,NaN,011,CY83,6.0,NaN,NaN
11,B006,NaN,NaN,NaN,012,CY84,5.0,NaN,NaN
12,B007,NaN,NaN,NaN,013,CY90,17.0,NaN,NaN
13,B008,NaN,NaN,NaN,014,CY91,9.0,NaN,NaN
14,B007,NaN,NaN,NaN,015,CY92,9.0,NaN,NaN
15,B003,NaN,NaN,NaN,016,CY93,4.0,NaN,NaN
16,B004,NaN,NaN,NaN,017,CY94,12.0,NaN,NaN
17,B010,NaN,NaN,NaN,018,CY95,8.0,NaN,NaN
18,B004,NaN,NaN,NaN,019,CY91,9.0,NaN,NaN
19,B001,NaN,NaN,NaN,020,CY92,2.0,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,CY81,NaN,Shampoo,1500
1,NaN,NaN,NaN,NaN,NaN,CY82,NaN,Sponge,1300
2,NaN,NaN,NaN,NaN,NaN,CY83,NaN,Biscuit,950
3,NaN,NaN,NaN,NaN,NaN,CY84,NaN,Chocolate,300
4,NaN,NaN,NaN,NaN,NaN,CY85,NaN,Bread,200
5,NaN,NaN,NaN,NaN,NaN,CY86,NaN,Beard Oil,3000
6,NaN,NaN,NaN,NaN,NaN,CY87,NaN,Butter,6700
7,NaN,NaN,NaN,NaN,NaN,CY88,NaN,Chew gum,300
8,NaN,NaN,NaN,NaN,NaN,CY89,NaN,Soap,200
9,NaN,NaN,NaN,NaN,NaN,CY90,NaN,Bobo,400
10,NaN,NaN,NaN,NaN,NaN,CY91,NaN,Viju milk,250
11,NaN,NaN,NaN,NaN,NaN,CY92,NaN,Morning fresh,750
12,NaN,NaN,NaN,NaN,NaN,CY93,NaN,Viva Detergent,250
13,NaN,NaN,NaN,NaN,NaN,CY94,NaN,Key holder,100
14,NaN,NaN,NaN,NaN,NaN,CY95,NaN,Biro,100

Thesse frames do not have the same headings hence a concat function might not be a good method of combining.